.weather-card__container {
	border: 6px solid #4d4d50;
	background-color: #fefefe;
	max-width: 250px;
	height: 360px;
	margin-top: 6	0px;
	margin-inline: auto;
}

.weather-card__img {
	height: 40%;
	border-radius: 12px;
}