.home-page-conatiner {
  max-width: 1024px;
  margin: auto;
}
.background-image {
  z-index: -1;
  background-image: url('./../../../public/sunny-day.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7; /* Defina a opacidade desejada (0 a 1) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}